#!/bin/bash

# Configuration for the FedOne run scripts.
#
# Copy this file to run-config.sh and configure the variables there.
# Please see http://code.google.com/p/wave-protocol/wiki/Installation for
# instructions on how to configure the flags.
#

# Remove this line after configuring
echo "You must configure the run-config.sh script" ; exit 1

### Variables common to the server, clients, and agents
###

# Domain name of the wave server 
WAVE_SERVER_DOMAIN_NAME=example.com

# Host name and port the wave server's client frontend listens on
WAVE_SERVER_HOSTNAME=localhost
WAVE_SERVER_PORT=9876

# Host name and port the wave server's websocket frontend listens on
WEBSOCKET_SERVER_HOSTNAME=localhost
WEBSOCKET_SERVER_PORT=9898

# The version of FedOne, extracted from the build.properties file
FEDONE_VERSION=`grep ^fedone.version= build.properties | cut -f2 -d=`

### Server-specific variables
###

# These will probably need to be changed
XMPP_SERVER_SECRET=opensesame
PRIVATE_KEY_FILENAME=${WAVE_SERVER_DOMAIN_NAME}.key

# The order of certificates is important. Place intermediate certs
# after "${WAVE_SERVER_DOMAIN_NAME}.crt". Please refer to 
# http://code.google.com/p/wave-protocol/wiki/Certificates
# for more details.
CERTIFICATE_FILENAME_LIST=${WAVE_SERVER_DOMAIN_NAME}.crt

# These should be okay to leave alone
ENABLE_FEDERATION=true
CERTIFICATE_DOMAIN_NAME=$WAVE_SERVER_DOMAIN_NAME
XMPP_SERVER_HOSTNAME=$WAVE_SERVER_DOMAIN_NAME
XMPP_SERVER_PORT=5275
XMPP_SERVER_PING=wavesandbox.com

# Set XMPP_SERVER_IP to localhost if the XMPP and FedOne servers are
# running on the same host
XMPP_SERVER_IP=$XMPP_SERVER_HOSTNAME

# Set true to disable the verification of signed deltas
WAVESERVER_DISABLE_VERIFICATION=false

# Set true to disable the verification of signers (certificates)
WAVESERVER_DISABLE_SIGNER_VERIFICATION=true

# Settings for the different persistence stores. Currently supported: 'memory' and 'mongodb'
CERT_PATH_STORE_TYPE=memory

# Currently supported attachment types: mongodb, disk
ATTACHMENT_STORE_TYPE=disk

# The location where attachments are stored on disk. This should be changed.
# Note: This is only used when using the disk attachment store. It is ignored
# for other data store types.
ATTACHMENT_STORE_DIRECTORY=_attachments
