#!/bin/bash

# Configuration for the Wave in a Box run scripts.
#
# Copy this file to run-config.sh and configure the variables there.
# Please see http://www.waveprotocol.org/code/installation for
# instructions on how to configure the flags.
#

# Remove this line after configuring
echo "You must configure the run-config.sh script" ; exit 1

### Variables common to the server and clients
###

# Domain name of the wave server 
WAVE_SERVER_DOMAIN_NAME=example.com

# A comma separated list of address on which to listen for connections.
# Each address is a comma separated host:port pair.
HTTP_SERVER_PUBLIC_ADDRESS=`hostname`:9898
HTTP_SERVER_ADDRESSES=${HTTP_SERVER_PUBLIC_ADDRESS}

# The version of Wave in a Box, extracted from the build.properties file
WAVEINABOX_VERSION=`grep ^waveinabox.version= build.properties | cut -f2 -d=`

### Server-specific variables
###

# These will probably need to be changed
XMPP_SERVER_SECRET=opensesame
PRIVATE_KEY_FILENAME=${WAVE_SERVER_DOMAIN_NAME}.key

# The order of certificates is important. Place intermediate certs
# after "${WAVE_SERVER_DOMAIN_NAME}.crt". Please refer to 
# http://www.waveprotocol.org/federation/certificates
# for more details.
CERTIFICATE_FILENAME_LIST=${WAVE_SERVER_DOMAIN_NAME}.crt

# These should be okay to leave alone
ENABLE_FEDERATION=true
CERTIFICATE_DOMAIN_NAME=$WAVE_SERVER_DOMAIN_NAME
XMPP_SERVER_HOSTNAME=$WAVE_SERVER_DOMAIN_NAME
XMPP_SERVER_PORT=5275
XMPP_SERVER_PING=wavesandbox.com

# Set XMPP_SERVER_IP to localhost if the XMPP and Wave in a Box servers are
# running on the same host
XMPP_SERVER_IP=$XMPP_SERVER_HOSTNAME

# Set true to disable the verification of signed deltas
WAVESERVER_DISABLE_VERIFICATION=false

# Set true to disable the verification of signers (certificates)
WAVESERVER_DISABLE_SIGNER_VERIFICATION=true

# Settings for the different persistence stores. Currently supported: 'memory' and 'mongodb'
CERT_PATH_STORE_TYPE=memory

# Currently supported attachment types: mongodb, disk
ATTACHMENT_STORE_TYPE=disk

# The location where attachments are stored on disk. This should be changed.
# Note: This is only used when using the disk attachment store. It is ignored
# for other data store types.
ATTACHMENT_STORE_DIRECTORY=_attachments

# Currently supported Account store types: memory, mongodb
ACCOUNT_STORE_TYPE=memory

# Set true to use Socket.IO instead of raw WebSockets in the webclient.
USE_SOCKETIO=false
