/*
 * CSS Stylesheet for the inline thread continuation indicator.
 *
 * author: michael.macfadden@gmail.com (Michael MacFadden)
 */
.indicator {
  transition: opacity 0.1s linear;
  \-moz-transition: opacity 0.1s linear;
  \-webkit-transition: opacity 0.1s linear;
  cursor: pointer;
  opacity: 0;
  position: relative;
  margin: -10px 0px;
  z-index: 1;
}

.indicator:hover {
  opacity: 1.0;
}

@sprite .icon {
  gwt-image: 'continuationIcon';
  overflow: visible;
  left: 5px;
  overflow: visible;
  position: absolute;
  top: -4px;
}

.bar {
  background-color: white;
  border: solid #5590D2;
  border-radius: 3px;
  \-moz-border-radius: 3px;
  \-webkit-border-radius: 3px;
  position: absolute;
  left: 18px;
  right: 5px;
  top: 5px;
  height: 1px;
}