/*
 * CSS Stylesheet for CellList widget that overrides default css rules.
 *
 * Author: vega113@gmail.com (Yuri Z.)
 */

.cellListWidget {
  white-space: nowrap;
  overflow: hidden;
}

.cellListEvenItem, .cellListOddItem {
  cursor: pointer;
  zoom: 1;
  border-bottom: thin solid gray;
  border-left: 1px solid #E4F1FE;
}

.cellListKeyboardSelectedItem {
  background-color: #ffc;
}

.cellListSelectedItem {
  background-color: #cec;
}