 /*
 * CSS Stylesheet for wave list.
 *
 * Author: vega113@gmail.com (Yuri Z.)
 */
 
 @eval toolbarWidth org.waveprotocol.box.webclient.client.wavelist.WaveListPanel.CssConstants.TOOLBAR_LENGTH_CSS;
 @eval searchPanelHeight org.waveprotocol.box.webclient.client.wavelist.WaveListPanel.CssConstants.SEARCH_PANEL_HEIGHT_CSS;
 @eval toolbarTop org.waveprotocol.box.webclient.client.wavelist.WaveListPanel.CssConstants.TOOLBAR_TOP_CSS;
 @eval toolbarHeight org.waveprotocol.box.webclient.client.wavelist.WaveListPanel.CssConstants.TOOLBAR_HEIGHT_CSS;
 @eval pagerPanelTop org.waveprotocol.box.webclient.client.wavelist.WaveListPanel.CssConstants.PAGER_PANEL_TOP_CSS;
 
 @noflip {
  @sprite .north {
    gwt-image: 'chromeNorth';
    position: absolute;
    top: 0;
    right: value('chromeNorthEast.getWidth', 'px');
    left: value('chromeNorthWest.getWidth', 'px');
  }

  @sprite .northEast {
    gwt-image: 'chromeNorthEast';
    position: absolute;
    top: 0;
    right: 0;
  }

  @sprite .east {
    gwt-image: 'chromeEast';
    position: absolute;
    top: value('chromeNorthEast.getHeight', 'px');
    right: 0;
    bottom: value('chromeSouthEast.getHeight', 'px');
  }

  @sprite .southEast {
    gwt-image: 'chromeSouthEast';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @sprite .south {
    gwt-image: 'chromeSouth';
    position: absolute;
    right: value('chromeSouthEast.getWidth', 'px');
    bottom: 0;
    left: value('chromeSouthWest.getWidth', 'px');
  }

  @sprite .southWest {
    gwt-image: 'chromeSouthWest';
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @sprite .west {
    gwt-image: 'chromeWest';
    position: absolute;
    top: value('chromeNorthWest.getHeight', 'px');
    bottom: value('chromeSouthWest.getHeight', 'px');
    left: 0;
  }

  @sprite .northWest {
    gwt-image: 'chromeNorthWest';
    position: absolute;
    top: 0;
    left: 0;
  }
  @sprite .toolbar {
    gwt-image: 'emptyToolbar';
  }
}

.frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contentContainer {
  position: absolute;
  right: value('chromeEast.getWidth', 'px');
  bottom: value('chromeSouth.getHeight', 'px');
  left: value('chromeWest.getWidth', 'px');
  top: value('chromeNorth.getHeight', 'px');
  background-color: white;
  /* Establish a base stacking context (needed for Gecko). */
  z-index: 0;
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: searchPanelHeight;
  border-bottom: 1px solid #B8C6D9;
  border-left: 1px solid #E4F1FE;
  background-color: #c9e2fc;
  overflow: hidden;
}

.toolbarMenu {
  position: absolute;
  top: toolbarTop;
  right: toolbarWidth;
  left: 0;
  height: toolbarHeight;
  border-left: 1px solid #E4F1FE;
}

.pagerPanel {
  position: absolute;
  top: pagerPanelTop;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100px;
  overflow-y: scroll;
}

.rangePager {
  text-align: left;
  margin-left: 5px;
  margin-top: 2px;
  color: white;  
}
